@(ip: String)
<!DOCTYPE html>
<html>
    <head>
        <title>ifcfg.net README</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="container">

            <center>
                <h3>Your IP Address is</h3>
                <h1>@ip</h1>
            </center>

            <div class="page-header">
                <h1>README</h1>
                <p class="lead">All you need to know about <a href="http://ifcfg.net/">http://ifcfg.net/</a></p>
            </div>

            <h2>Why, Who, and Source</h2>
            <p>
                I wanted a simple to use API to get my current IP and other network information.
                Other websites that used to offer this have become cluttered with ads or taking multiple seconds to respond.
                I also wanted an excuse to make a small project to learn Scala and the Play! framework.
            </p>

            <p>My name is <a href="http://joshrendek.com/">Josh Rendek</a>.</p>
            <p>The source for this website is on github: <a href="https://github.com/joshrendek/scala-ifcfg-api">https://github.com/joshrendek/scala-ifcfg-api</a></p>
            <p>The BGP Looking Glass scraper library I made is here: <a href="https://github.com/joshrendek/scala-bgp">https://github.com/joshrendek/scala-bgp</a></p>


            <hr>

            <h2>API Endpoints</h2>

            <h3>GET /</h3>
            Hitting the root url will echo back your IP.
            <div>
                <h4>Response</h4>
                <pre>11.22.33.44</pre>
            </div>

            <h3>GET /as/:num</h3>
            Get information about a AS.
            <div>
                <h4>Response</h4>
                <pre>
{
    "bgpPeerList":4158,
    "as":174,
    "asPathLength":3.64,
    "ipsOriginated":27981312,
    "countryOfOrigin":"United States",
    "prefixList":2199
}
</pre>
            </div>

            <h3>GET /as/:num/peer_list</h3>
            Get the list of peers for this AS.
            <div>
                <h4>Response</h4>
                <pre>
[
    {
        as: "AS3356",
        name: "Level 3 Communications, Inc.",
        ipv6: true,
        rank: 1
    }
]
</pre>
            </div>

            <h3>GET /as/:num/prefix_list</h3>
            Get the list of prefixes contained within the AS.
            <div>
                <h4>Response</h4>
                <pre>
[
    {
        description: "Eurona-Brisknet Ltd",
        subnet: "5.83.240.0/20"
    },
    {
        description: "FORTUNIX NETWORKS L.P.",
        subnet: "5.149.252.0/23"
    }
]
</pre>
            </div>

            <h3>GET /rbl/list</h3>
            Get a list of RBL's to check against.
            <div>
<pre>
[
    "access.redhawk.org",
    "b.barracudacentral.org",
    "bl.shlink.org",
    "bl.spamcannibal.org",
    "bl.spamcop.net"
]
</pre>
            </div>

            <h3>GET /rbl/(:ip)</h3>
            Check :ip against all RBL's at /rbl/list. If the check takes longer than 60 seconds an error will be thrown.
            <ul>
                <li><b>:ip</b> - An IPv4 address to check (optional) - can be ommitted to check requesting IP</li>
            </ul>
            <div>
<pre>
[
    {
        access.redhawk.org: {
            blacklisted: false,
            result: [ ]
        }
    },
    {
        b.barracudacentral.org: {
            blacklisted: true,
            result: [
                "127.0.0.2"
            ]
        }
    },
    {
        bl.shlink.org: {
            blacklisted: false,
            result: [ ]
        }
    }
]
</pre>
            </div>

            <h3>GET /rbl/:ip/:rbl_list</h3>
            Check :ip against a specific set of :rbl_list servers. If the check takes longer than 60 seconds an error will be thrown.
            <ul>
                <li><b>:rbl_list</b> - A + separated list of hosts, eg: b.barracudacentral.org+bl.shlink.org</li>
            </ul>
            <div>
<pre>
[
    {
        b.barracudacentral.org: {
        blacklisted: true,
        result: [
            "127.0.0.2"
        ]
        }
    },
    {
        bl.shlink.org: {
        blacklisted: false,
        result: [

        ]
        }
    }
]
</pre>
            </div>

        </div> <!-- /container -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-3754808-29', 'ifcfg.net');
        ga('send', 'pageview');

        </script>
    </body>
</html>